* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#section1 {
  height: 100%;
  width: 100%;
  background-color: black;
}

#section2 {
  height: 100%;
  width: 100%;
  background-color: rgb(73, 195, 236);
  padding: 5vw 0;
}

#section3 {
  height: 100%;
  width: 100%;
  background-color: black;
}

#section2 h1 {
  font-size: 40vw;
  font-weight: 600;
  text-transform: uppercase;
}
